<div id="footer">
    <div class="foot2">
        <div class="container">
            <div class="row" style="margin-left: auto; margin-right: auto">
                <div class="span2 foot-section">
                    <ul class="foot-list">
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
                <div class="span2 foot-section">
                    <ul class="foot-list">
                        <li><a href="#">Or Don't</a></li>
                    </ul>
                </div>
                <div class="span2 foot-section">
                    <ul class="foot-list">
                        <li><a href="#">These go nowhere anyways</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>