<div class="head1">
    <div class="container">
        <div class="row">
            <div class="nav">
                <div class="buttons row pull-right">
                    <%= link_to 'Help', help_path, :class => "basic-btn aboutus" %>
                    <%= link_to 'About Us', about_path, :class => "basic-btn aboutus" %>
                    <a href="#" alt="Log in" class="iconic-btn login"><i class="icon-signin"></i>

                        <div class="divider"></div>
                        <span>Log in</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="head2">
    <div class="container">
        <div class="row">
            <div style="position: absolute; display: inline-block">
            </div>
            <div style="float: right">
                <%= link_to "Battles Index" , battles_path, :class => "head2 search" %>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>